<div class="section">
  <div nz-row>
    <!-- 个人简介模块 -->
    <div nz-col nzXs="24" nzSm="24" nzMd="8" class="about-story gutter-row">
      <h3 class="about-subtitle">MY STORY</h3>
      <p *ngIf="about">{{ about.story }}</p>
      <a class="btn-raised" *ngIf="about" [href]="about.resumeLink" target="_blank">
        <i class="anticon anticon-cloud-download"></i>
        <span>DOWNLOAD MY RESUME</span>
      </a>
    </div>
    <!-- 个人照片模块 -->
    <div nz-col nzXs="24" nzSm="24" nzMd="8" class="about-profile gutter-row">
      <div class="person-img">
        <img src="assets/images/sanji.png" />
      </div>
    </div>
    <!-- 个人信息模块 -->
    <div nz-col nzXs="24" nzSm="24" nzMd="8" class="about-profile gutter-row">
      <div class="about-info">
        <h3 class="about-subtitle">PERSONAL INFORMATION</h3>
        <h5><span>Name :</span> Haisheng Lin</h5>
        <h5><span>Age :</span> 25</h5>
        <h5 *ngIf="about"><span>Email :</span> {{ about.email }}</h5>
        <h5 *ngIf="about"><span>Address :</span> {{ about.address }}</h5>
      </div>
    </div>
  </div>
</div>