:host ::ng-deep .white-text {
  color: #fff;
}

:host ::ng-deep nz-spin {
  text-align: center;
}

:host ::ng-deep nz-card {
  margin-bottom: 5px;
  cursor: pointer;
}

:host ::ng-deep .card-image img {
  display: block;
  width: 100%;
}

:host ::ng-deep .card-content {
  padding: 10px 20px;
}

:host ::ng-deep .card-content {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 5px;
  }
}

:host ::ng-deep .card-content p {
  color: #999;
}

:host ::ng-deep .ant-card-body {
  padding: 0;
}