<footer class="footer">
  <div nz-row>
    <!-- 社交模块 -->
    <div nz-col nzXs="24" nzSm="12">
      <div class="social">
        <ul>
          <li>
            <a class="btn-fab btn-weixin" nzTitle="微信" nzPlacement="top" nz-tooltip>
              <i class="anticon anticon-wechat"></i>
            </a>
          </li>
          <li>
            <a class="btn-fab btn-facebook" href="//www.facebook.com/profile.php?id=100015318994500"
              target="_blank" nzTitle="Facebook" nzPlacement="top" nz-tooltip>
              <i class="anticon anticon-facebook"></i>
            </a>
          </li>
          <li>
            <a class="btn-fab btn-linkedin" href="//www.linkedin.com/in/haisheng-lin"
              target="_blank" nzTitle="Linkedin" nzPlacement="top" nz-tooltip>
              <i class="anticon anticon-linkedin"></i>
            </a>
          </li>
          <li>
            <a class="btn-fab btn-github" href="//www.github.com/haisheng-lin"
              target="_blank" nzTitle="Github" nzPlacement="top" nz-tooltip>
              <i class="anticon anticon-github"></i>
            </a>
          </li>
          <li>
            <a class="btn-fab btn-google" href="mailto:hlin86@asu.edu"
              target="_blank" nzTitle="Gmail" nzPlacement="top" nz-tooltip>
              <i class="anticon anticon-google"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 版权模块 -->
    <div nz-col nzXs="24" nzSm="12">
      <div class="copyright">
        haisheng-lin © All Rights Reserved
      </div>
    </div>
  </div>
</footer>