.footer {
  background: #2A333C;
  color: #E8E8E8;
}

ul.social {
  /* ng-zorro 设置了 ul 的 margin-bottom: 1em */
  margin-bottom: 0;
  li {
    display: inline-block;
    margin-right: 8px;
  }
}

.btn-weixin:hover {
  background: #62b900!important;
  color: #fff!important;
}

.btn-facebook:hover {
  background:#3b5998!important;
  color: #fff!important;
}

.btn-linkedin:hover {
  background:#007bb6!important;
  color: #fff!important;
}

.btn-github:hover {
  background:#767676!important;
  color: #fff!important;
}

.btn-google:hover {
  background:#ea4335!important;
  color: #fff!important;
}

.copyright {
  float: right;
  font-size: 14px;
}

/* ====================== 超小屏幕 ====================== */
@media (max-width: 479px) {
  .footer {
    padding: 20px calc(5%);
  }
}

/* ====================== 小中屏幕 ====================== */
@media (min-width: 480px) and (max-width: 991px) {
  .footer {
    padding: 20px calc(8%);
  }
}

/* ====================== 大屏幕 ====================== */
@media (min-width: 992px) and (max-width: 1499px) {
  .footer {
    padding: 20px calc(10%);
  }
}

/* ====================== 超大屏幕 ====================== */
@media (min-width: 1500px) {
  .footer {
    padding: 20px ~"calc(50% - 525px)";
  }
}
