/* ====================== 引入 ng-zorro 全局样式 ====================== */
@import 'node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css';
@import './theme/theme.less';

* {
  margin: 0;
  padding: 0;
}

/* ====================== 章节样式 ===================== */
.section {
  padding: 60px calc(25%);
}

.section-inverse {
  background: #ECEFF7;
}

.section-row {
  padding-bottom: 50px;
}

.section-title {
  text-align: center;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
}

/* ====================== 自定义图标按钮样式 ===================== */
.btn-raised {
  display: inline-block;
  background: @primary-color;
  color: #fff;
  position: relative;
  z-index: 1;
  height: 37px;
  line-height: 37px;
  padding: 0 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn-raised:hover {
  background: @primary-5;
  color: #fafafa;
}

.btn-fab {
  display: inline-block;
  background: #212931;
  color: #fff;
  position: relative;
  z-index: 1;
  width: 37px;
  height: 37px;
  line-height: 37px;
  padding: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;;
  background-clip: padding-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

.btn-fab i {
  font-size: 1rem;
  width: inherit;
  text-align: center;
  line-height: 37px;
  vertical-align: middle;
}

.btn-fab i:hover {
  color: #fff!important;
}

/* ====================== 超小屏幕 ====================== */
@media (max-width: 479px) {
  .section {
    padding-left: calc(5%);
    padding-right: calc(5%);
  }
}

/* ====================== 小中屏幕 ====================== */
@media (min-width: 480px) and (max-width: 991px) {
  .section {
    padding-left: calc(8%);
    padding-right: calc(8%);
  }
}

/* ====================== 大屏幕 ====================== */
@media (min-width: 992px) and (max-width: 1499px) {
  .section {
    padding-left: calc(10%);
    padding-right: calc(10%);
  }
}

/* ====================== 超大屏幕 ====================== */
@media (min-width: 1500px) {
  .section {
    padding-left: ~"calc(50% - 525px)";
    padding-right: ~"calc(50% - 525px)";
  }
}