/* ====================== 引入 ng-zorro 全局样式 ====================== */
@import 'node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css';

.section {
  padding: calc(10%) calc(25%);
}

.btn-fab {
  display: inline-block;
  background: #212931;
  color: #fff;
  position: relative;
  z-index: 1;
  width: 37px;
  height: 37px;
  line-height: 37px;
  padding: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;;
  background-clip: padding-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

.btn-fab i {
  font-size: 1rem;
  width: inherit;
  text-align: center;
  line-height: 37px;
  vertical-align: middle;
}

.btn-fab i:hover {
  color: #fff!important;
}

/* ====================== 超小屏幕 ====================== */

/* ====================== 小屏幕 ====================== */

/* ====================== 中等屏幕 ====================== */

/* ====================== 大屏幕 ====================== */

/* ====================== 超大屏幕 ====================== */

/* ====================== 特大屏幕 ====================== */